# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# decompiled jars
decompiled/
libs/cfr-out/
libs/ironfurnaces-*.jar

# Files from Forge MDK
forge*changelog.txt
